.page {
    margin: 0 auto;
    max-width: 1280px;
    height: 100px;
    font-family: Arial, sans-serif;
    background: #808080;
}

.parameters {
    display: flex;
    flex-direction: column;
}

.parameters__subtitle {
    margin: 5px 0 0 23px;
    font-size: 18px;
    color: #58e014;
    font-weight: bold;
    text-align: center;
}

.parameters__title {
    margin: 0 auto;
    font-size: 32px;
    color: #e01414;
    font-weight: bold;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;


}

.table__item {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    background-color: black;
    width: 120px;
    height: 120px;
    border: 3px solid #00FA9A;
}

.square_enable {
    background-image: url("./images/question.jpg");
}

.container {
    position: relative;
    margin: 0 auto;
    width: 515px;
}

.lukas_enable {
    position: absolute;
    width: 510px;
    height: 510px;
    background-image: url("./images/lukas_large.png");
    background-size: cover;
}

.table__item-border {
    background-color: #808080;
    border: deepskyblue 2.5px solid;
}


.radio {
    display: flex;
    flex-direction: column;
}

.buttons {
    transform:scale(1.5);
    opacity:0.9;
}

label {
    margin: 4px 0;
}

p {
    margin: 0;
    font-weight: bold;
}

.title-container {
    display: flex;
}