.page {
    margin: 0 auto;
    max-width: 1280px;
    height: 100px;
    font-family: Arial, sans-serif;
    background: #808080;
}

.parameters {
    display: flex;
    flex-direction: column;
}

.parameters__subtitle {
    margin: 10px 0 10px 95px;
    font-size: 35px;
    color: #808080;
    /*color: #58e014;*/
    font-weight: bold;
}

.parameters__title {
    margin: 0 auto;
    font-size: 45px;
    color: #e01414;
    font-weight: bold;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;


}

.table__item {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    background-color: black;
    width: 120px;
    height: 120px;
    border: 3px solid #00FA9A;
}

.square_enable {
    background-image: url("./images/question.jpg");
}

.container {
    position: relative;
    margin: 0 auto;
    width: 515px;
}

.lukas_enable {
    position: absolute;
    width: 510px;
    height: 510px;
    background-image: url("./images/lukas_large.png");
    background-size: cover;
}

.table__item-border {
    background-color: #808080;
    border: deepskyblue 2.5px solid;
}

