.page {
    margin: 0 auto;
    max-width: 1280px;
    height: 100px;
    font-family: Arial, sans-serif;
    background: #808080;
}

.parameters {
    padding-left: 10px;
}

.parameters__title {
    font-size: 20px;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
}

.table__item {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    background-color: black;
    width: 120px;
    height: 120px;
    border: 3px solid #00FA9A;
}

.square_enable {
    background-image: url("./images/question.jpg");
}

.lukas_enable {
    background-image: url("./images/lukas.jpg");
}

.table__item-border {
    background-color: #808080;
    border: deepskyblue 2.5px solid;
}